html,
body {
  height: 100%;
}

#home {
  padding-top: 9%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 17px 0;
}

.divisor {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 12px 15px;
}

p {
  text-align: justify;
}

h1 {
  margin-top: 10px;
}
